@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.heroBg {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
}
.backgroundImage {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
.backgroundImage::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: var(--color-gradient);
  background-size: 300% 300%;
  top: 0;
  left: 0;
  opacity: 50%;
}

@media screen and (min-width: 900px) {
  .heroBg {
    height: calc(100vh - 56px);
  }
  .heroBg::after {
    height: calc(100vh - 56px);
  }
}

.heroContent {
  position: relative;
  z-index: 1;
}
.heroContent a:hover {
  text-decoration-color: white;
}
.heroMain {
  color: white;
}
.heroPage {
  color: var(--color-text);
}
.heroPage .heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heroPage h1 {
  color: var(--color-primary);
  text-align: center;
}
div.heroText {
  padding-top: var(--size-gutter);
}

.heroText > p {
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: var(--space-5);
}
@media screen and (min-width: 900px) {
  .heroText > p {
    max-width: 800px;
  }
}
.arrow {
  position: relative;
  z-index: 1;
  max-width: 2.5rem;
}

@media screen and (max-width: 600px) {
  .arrow {
    max-width: 2rem;
  }
}
@media screen and (max-width: 575px) {
  .arrow {
    display: none;
  }
}