.logo {
    width: 200px;
}
.heroBg {
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/hero.jpg");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}
.heroBg::after {
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: var(--color-gradient);
    top: 0;
    left: 0;
    opacity: 50%;
}
@media screen and (min-width: 900px) {
    .heroBg {
        height: calc(100vh - 56px);
    }
    .heroBg::after {
        height: calc(100vh - 56px);
    }
}

.heroContent {
    position: relative;
    z-index: 1;
}
.heroContent a:hover {
    text-decoration-color: white;
}
.heroMain {
    color: white;
}
.heroPage {
    color: var(--color-text);
}
.heroNav {
    padding-left: var(--size-gutter);
}
.heroText > p {
    margin-bottom: var(--space-5);
}
.arrow {
    position: relative;
    z-index: 2;
}