.logo {
  width: 200px;
}
.heroBg {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/hero.jpg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
}
.heroBg::after {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: var(--color-gradient);
  top: 0;
  left: 0;
  opacity: 50%;
}
@media screen and (min-width: 900px) {
  .heroBg {
    height: calc(100vh - 56px);
  }
  .heroBg::after {
    height: calc(100vh - 56px);
  }
}

.heroContent {
  position: relative;
  z-index: 1;
}
.heroContent a:hover {
  text-decoration-color: white;
}
.heroMain {
  color: white;
}
.heroPage {
  color: var(--color-text);
}

@media screen and (max-width: 900px) {
  .heroNav {
    display: none;
  }
}

.heroNavMobile {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--color-secondary);
  display: block;
  z-index: 3;
  text-align: center;
  padding-top: 25vh;
}
.heroNavMobile a {
  display: block;
  padding-left: 0;
  font-size: 1.25rem;
  margin: var(--space-4) 0;
}
.heroNavMobile a:hover {
  text-decoration: none;
}

.heroNavLink {
  padding-left: var(--size-gutter);
}
.heroText > p {
  margin-bottom: var(--space-5);
}

.arrow {
  position: relative;
  z-index: 1;
  margin-top: 2rem;
}
@media screen and (max-width: 600px) {
  .arrow {
    max-width: 2.5rem;
    margin-top: 0;
  }
}

.hamburger {
  width: 2.5rem;
  height: 3rem;
  position: relative;
  margin: auto var(--space-3);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 4;
}
@media screen and (min-width: 900px) {
  .hamburger {
    display: none;
  }
}
.hamburger span {
  display: block;
  position: absolute;
  height: var(--space-1);
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 0px;
}
.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
  top: 1rem;
}
.hamburger span:nth-child(4) {
  top: 2rem;
}

.hamburger.open span:nth-child(1) {
  top: 16px;
  width: 0%;
  left: 50%;
}

.hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.smIcons a {
  display: inline-block;
}
.smIcon {
  max-width: 3rem;
  height: 2rem;
  position: relative;
  z-index: 5;
  margin: var(--size-gap) var(--size-gutter);
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .smIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    top: calc(50vh - 192px / 2);
  }
  .smIcons a {
    width: 3rem;
    height: 3rem;
    border-radius: var(--border-radius-s) 0 0 var(--border-radius-s);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem 0;
  }
.smIcons a:first-child {
    background-color: var(--color-accent-1);
}
.smIcons a:nth-child(2) {
    background-color: var(--color-primary);
}
.smIcons a:last-child {
    background-color: var(--color-secondary);
}
  .smIcon {
    margin: var(--space-3);
    max-width: 2rem;
    height: 1.75rem;
    flex-shrink: 0;
  }
}
