@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.galleryContainer {
  display: flex;
  position: relative;
  width: 100%;
  margin: var(--size-gap) 0;
}

.galleryImg {
  display: none;
}
.fadeImg {
    -webkit-animation: fadeIn 1s ease;
    animation: fadeIn 1s ease;
  }
 
.galleryMainImg {
  flex-shrink: 0;
  width: 100%;
  height: 75vw;
}

.sliderNav {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  top: 45%;
  left: 9vw;
}
.sliderNav div {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-top: 2px solid white;
  border-right: 2px solid white;
}
.sliderNav div:first-child {
  transform: rotate(-135deg);
}
.sliderNav div:last-child {
  transform: rotate(45deg);
}

@media screen and (min-width: 800px) {
  .galleryImg {
    display: block;
    opacity: 30%;
    margin-top: 5vw;
    width: 25vw;
    height: 30vw;
  }
  .galleryMainImg {
    flex-shrink: 0;
    width: 50vw;
    height: 37.5vw;
  }
  .sliderNav {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    top: 47%;
    left: 29.5vw;
  }
}
