.contactContainer {
    width: 100%;
}

.contact {
    display: flex;
    align-items: center;
    margin: var(--space-3) 0;
}
.contact > p {
    margin: 0 0 0 var(--space-3);
}
@media screen and (max-width: 320px) {
    .contact svg {
        display: none;
    }
    .contact > p {
        margin: 0;
    }
}
@media screen and (min-width: 900px) {
    .contactContainer {
        width: 50%;
    }
}

.contactPageContainer h3, .contactPageContainer h2, .contactPageContainer p {
    color: white;
}