


/* CONTACT PAGE START */

.contactPageSectionContainer {
  display: flex;
  flex-direction: column;
}
.contactDataContainer {
  background-color: var(--color-secondary);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--size-gap) 5vw;
}
.mapFrame {
  border: 0;
  max-height: 70vh;
}
.formSectionContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  z-index: 10;
  background-color: white;
  padding: var(--space-4);
  width: 90%;
  max-width: 700px;
}
.backgroundImage {
  display: none;
}

@media screen and (min-width: 340px) {
  .formSectionContainer {
    padding: calc(2 * var(--size-gap)) 0;
  }
  .backgroundImage {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
  }
  .backgroundImage::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: var(--color-gradient);
    background-size: 300% 300%;
    top: 0;
    left: 0;
    opacity: 50%;
  }
}

@media screen and (min-width: 600px) {
  .formContainer {
    padding: var(--size-gap);
  }
}

@media screen and (min-width: 1080px) {
  .contactPageSectionContainer {
    flex-direction: row;
  }
  .contactDataContainer {
    width: 50vw;
    max-height: 70vh;
    padding: var(--size-gap) calc(2 * var(--size-gap));
  }
  .mapFrame {
    max-width: 50vw;
  }
}

/* CONTACT PAGE END */


/* 404 PAGE START */

.notFoundContainer {
  max-width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.notFound {
  position: relative;
}
.notFound h1 {
  font-size: 8rem;
  font-weight: 900;
  color: var(--color-primary);
}
.notFound svg {
  width: 8rem;
  position: absolute;
  top: -5.5rem;
  right: 2.5rem;
}
@media screen and (min-width: 600px) {
  .notFound h1 {
    font-size: 10rem;
  }
  .notFound svg {
    width: 9rem;
    top: -4rem;
    right: -5rem;
  }
}

/* 404 PAGE END */




/* .list {
  display: grid;
  margin: 0;
  --w: 280px;
  --n: 2;
  gap: var(--size-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr)
  );
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
} */

.list {
  display: grid;
  margin: 0;

  /* first breakpoint*/
  --w1: 1200px;
  --n: 6;
  /* second breakpoint*/
  --w2: 800px;
  --m: 4;
  /* third breakpoint*/
  --w3: 400px;
  --p: 2;

  grid-template-columns: repeat(
    auto-fill,
    minmax(
      clamp(
        clamp(
          clamp(
            100%/ (var(--n) + 1) + 0.1%,
            (var(--w1) - 100%) * 1000,
            100%/ (var(--m) + 1) + 0.1%
          ),
          (var(--w2) - 100%) * 1000,
          100%/ (var(--p) + 1) + 0.1%
        ),
        (var(--w3) - 100%) * 1000,
        100%
      ),
      1fr
    )
  );
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
}

/* .listItem::marker {
  color: #e95800;
}

.listItem:nth-child(2)::marker {
  color: #159bf3;
}

.listItem:nth-child(3)::marker {
  color: #8eb814;
}

.listItem:nth-child(4)::marker {
  color: #663399;
} */
