:root {
  --border-radius: 2rem;
  --border-radius-s: 0.5rem;
  --color-text: #343434;
  --color-primary: #f27ba6;
  --color-secondary: #55aba7;
  --color-accent-1: #0080bd;
  --color-accent-2: #c07bc4;
  --color-neutral-light: #cecece;
  --color-alert: #bf1252;
  --color-gradient: linear-gradient(
    235deg,
    rgba(242, 123, 166, 1) 0%,
    rgba(119, 128, 205, 1) 70%,
    rgba(0, 128, 189, 1) 100%
  );
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-web: "Nunito", sans-serif;
  --font-xxlg: 2.75rem;
  --font-xlg: 2rem;
  --font-lg: 1.5rem;
  --font-md: 1.125rem;
  --font-sm: 1rem;
  --font-sx: 0.875rem;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;
  --space-5: 2rem;
  --space-6: 3rem;
  --size-content: 1080px;
  --size-gutter: var(--space-4);
  --size-gap: var(--space-6);
}
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: sans-serif;
  font-family: var(--font-web);
  font-weight: normal;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}

img {
  border-style: none;
  max-width: 100%;
}
code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  line-height: inherit;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-4);
}
ul,
ol {
  margin-left: var(--space-4);
  list-style-position: outside;
  list-style-image: none;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: var(--space-4);
  font-size: 0.875rem;
  line-height: var(--line-height-normal);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: var(--border-radius);
  overflow: auto;
  word-wrap: normal;
  padding: var(--space-4);
}
b,
strong,
dt,
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(var(--space-4) / 2);
}
ol li,
ul li {
  padding-left: 0;
}
li > ol,
li > ul {
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
  margin-top: calc(var(--space-4) / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(var(--space-4) / 2);
}

code {
  font-size: 0.875rem;
}
kbd {
  font-size: 0.875rem;
}
samp {
  font-size: 0.875rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
tt,
code {
  background-color: var(--color-code-bg);
  border-radius: var(--border-radius);
  color: var(--color-code);
  font-family: var(--font-mono);
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  word-break: normal;
}
pre code {
  background: none;
}
code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
}

/* site custom styles */

h1 {
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01rem;
  font-size: var(--font-xlg);
}
h2 {
  font-size: var(--font-xlg);
  margin-bottom: var(--space-4);
  margin-top: 0;
  color: var(--color-primary);
}

h3 {
  margin: 0 auto;
  font-size: var(--font-md);
  margin-bottom: var(--space-4);
  font-weight: 600;
}
h4 {
  margin: 0;
  margin-bottom: var(--space-3);
  padding: 0;
  line-height: var(--line-height-dense);
  font-size: var(--font-lg);
  letter-spacing: -0.01em;
  font-weight: 400;
}
@media screen and (max-width: 320px) {
  h1 {
    font-size: var(--font-lg);
  }
  h3 {
    font-size: var(--font-sm);
  }
  p {
    font-size: var(--font-sx);
  }
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: var(--font-xxlg);
  }
}

p {
  margin: 0 auto;
  font-size: var(--font-sm);
  margin-bottom: var(--space-4);
}

a {
  background-color: transparent;
  color: var(--color-text);
  text-decoration: none;
  font-weight: 500;
  font-family: var(--font-web);
}
a:active,
a:hover {
  outline-width: 0;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-decoration-color: var(--color-secondary);
  text-underline-offset: 6px;
}

ul li {
  position: relative;
  left: -1.5rem;
  background: url("../assets/bullet.png") no-repeat top left;
  padding: 0 0 0 2.25rem;
  list-style: none;
  background-size: 0.8rem;
  background-repeat: no-repeat;
  background-position: 0 0.3rem;
}

ol {
  list-style: none;
  counter-reset: awesome-counter;
}
ol li {
  counter-increment: awesome-counter;
  position: relative;
  left: -2rem;
  display: flex;
}
ol li::before {
  content: "0" counter(awesome-counter);
  color: var(--color-primary);
  font-weight: 700;
  font-size: var(--font-lg);
  margin-right: var(--space-3);
  line-height: 0;
  font-family: var(--font-web);
  position: relative;
  top: 0.75rem;
}

.container {
  margin: 0 auto;
  max-width: 90%;
  padding: var(--size-gap) 0;
}
.containerS {
  margin: 0 auto;
  max-width: 90%;
  padding: var(--size-gap) 0;
}
@media screen and (min-width: 900px) {
  .containerS {
    max-width: 700px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: var(--size-content);
  }
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  padding: var(--space-3) var(--space-4);
  text-transform: uppercase;
  font-size: var(--font-sx);
  border-radius: var(--border-radius);
  border: 1px solid white;
  background-color: transparent;
  font-family: var(--font-web);
  margin: var(--space-5) 0;
  min-width: 230px;
  cursor: pointer;
  max-width: 230px;
}

.btnPrimary {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: white;
}
.btnPrimary:hover {
  background-color: var(--color-accent-1);
  border-color: var(--color-accent-1);
  transition: .5s;
}
.btnSecondary {
  color: white;
}
.btnSecondary:hover {
  background-color: rgba(255, 255, 255, .1);
  transition: .5s;
}
.heroBtn {
  margin: var(--space-2);
}

.contactFlex {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-gap);
}
header {
  display: none;
  margin: 0 auto;
  padding: var(--space-3) var(--size-gutter);
}
@media screen and (min-width: 900px) {
    header {
        display: flex;
        justify-content: flex-end;
    }
}

footer {
  background-color: var(--color-secondary);
  color: white;
  font-size: var(--font-sx);
}

/* FORM STYLES START */
form {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  width: 100%;
}
@media screen and (min-width: 900px) {
  form:not(.contactPageForm) {
    width: calc(50% - var(--size-gap));
  }
}
label,
legend {
  text-transform: uppercase;
  font-size: var(--font-sx);
  color: var(--color-neutral);
}

input,
textarea {
  border: 1px solid var(--color-neutral-light);
  outline: none;
  color: var(--color-neutral);
  font-size: var(--font-sx);
  font-family: var(--font-sans);
  margin-top: var(--space-1);
  margin-bottom: var(--space-3);
  background-color: transparent;
}
input {
  height: 2.5rem;
  padding: 0 var(--space-2);
  width: 100%;
}
textarea {
  height: 6rem;
  width: 100%;
  padding: var(--space-2);
  resize: none;
  display: block;
}
input::placeholder,
textarea::placeholder {
  color: var(--color-neutral-light);
  font-size: var(--font-sx);
  font-family: var(--font-sans);
}
label:focus-within {
  color: var(--color-primary);
}
input:focus,
textarea:focus {
  border-color: var(--color-primary);
}
input[type="date"] {
  color: var(--color-neutral-light);
  text-transform: uppercase;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 2rem;
  cursor: pointer;
}

.checkbox > div,
.radio > div {
  font-size: var(--font-sx);
  text-transform: initial;
}
.checkbox:focus-within,
.radio:focus-within {
  color: var(--color-neutral);
}
.checkbox input,
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox,
.radio {
  cursor: pointer;
  display: flex;
}
.checkbox span,
.radio span {
  width: var(--space-3);
  height: var(--space-3);
  flex-shrink: 0;
  flex-basis: var(--space-3);
  border: 1px solid var(--color-neutral-light);
  outline: none;
  cursor: pointer;
  margin-right: var(--space-3);
  margin-top: 3px;
}
.radio span {
  border-radius: 50%;
}

.checkbox input:checked + span,
.radio input:checked + span {
  background-color: var(--color-primary);
}
span.errorMessage {
  color: var(--color-alert);
  display: inline-block;
  border: none;
  width: auto;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}

fieldset {
  border: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-gap);
  row-gap: var(--space-3);
}
fieldset > label {
  width: 6rem;
}
legend {
  margin-bottom: var(--space-2);
}
/* FORM STYLES END */
