.cubeLinksContainer {
    margin: 0;
  
    --w1:900px;
    --w2:600px;
    --m:2;
    --n:4;
   
    display:grid;

    /* When the screen width is smaller than W2, we clamp to 100%, or one item per row.
    When the screen width is larger than W2, we clamp to the first clamp().
    In that first clamp, when the screen width is smaller than W1, we clamp to 100%/(M + 1) + 0.1%), or M items per row.
    In that first clamp, when the screen width is bigger than W1, we clamp to 100%/(N + 1) + 0.1%), or N items per row. */


    grid-template-columns: repeat(auto-fill,
    minmax(clamp(clamp(
        100%/(var(--n) + 1) + 0.1%, 
      (var(--w1) - 100vw)*1000,
        100%/(var(--m) + 1) + 0.1%), 
      (var(--w2) - 100vw)*1000,
        100%), 1fr));

    margin-bottom: var(--size-gap);
    margin-top: var(--size-gap);
  }
.cubeIcon {
    height: 4.5rem;
    width: 4.5rem;
    overflow: visible;
    /* padding-left: .75rem; */
}

.cubeLinksContainer h3 {
    margin: 0;
    margin-top: 1rem;
}

  .cubeLinksContainer > div {
    margin: 0;
    min-height:300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 2rem 1rem;
  }
  .cubeLinksContainer > div:first-child {
    background-color: var(--color-accent-1);
  }
  .cubeLinksContainer > div:nth-child(2) {
    background-color: var(--color-primary);
  }
  .cubeLinksContainer > div:nth-child(3) {
    background-color: var(--color-secondary);
  }
  .cubeLinksContainer > div:last-child {
    background-color: var(--color-accent-2);
  }
