.cookiesContainer {
    position: fixed;
    bottom: 0;
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-color: var(--color-primary);
    padding: var(--space-3) var(--space-6);
    width: 100%;
    z-index: 30;
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 0 var(--space-2);
}
.cookiesContainer > p {
    font-size: var(--font-sx);
    color: white;
    margin: 0;
    margin-bottom: var(--space-2);
}
.modalBtn {
    border: 1px solid white;
    border-radius: var(--border-radius-s);
    background-color: transparent;
    font-size: var(--font-sx);
    color: white;
    padding: var(--space-1) var(--space-2);
   cursor: pointer;
   text-decoration: none;
}
.modalBtn:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, .1);
    transition: .5s;
}
